<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087274318748-qksrfgi03sto138khajull2p5o1tk44r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087274318748-qksrfgi03sto138khajull2p5o1tk44r</string>
	<key>API_KEY</key>
	<string>AIzaSyCuHHnzYZ2e0egWx28grok87LAjZjPxluA</string>
	<key>GCM_SENDER_ID</key>
	<string>1087274318748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abduraimbek.uzmobile</string>
	<key>PROJECT_ID</key>
	<string>uzmobile2</string>
	<key>STORAGE_BUCKET</key>
	<string>uzmobile2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087274318748:ios:2591339e5ff46699062659</string>
	<key>DATABASE_URL</key>
	<string>https://uzmobile2-default-rtdb.firebaseio.com</string>
</dict>
</plist>