<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701139912025-ms7cetn8ou7td817pt0rurds8qnlc333.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701139912025-ms7cetn8ou7td817pt0rurds8qnlc333</string>
	<key>API_KEY</key>
	<string>AIzaSyCZzAf1sPjsVlGaozQkUtW4srgwTCoxPzY</string>
	<key>GCM_SENDER_ID</key>
	<string>701139912025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abduraimbek.uzmobile</string>
	<key>PROJECT_ID</key>
	<string>uzmobile2-f04e7</string>
	<key>STORAGE_BUCKET</key>
	<string>uzmobile2-f04e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701139912025:ios:903a3ccda94f83c962f848</string>
	<key>DATABASE_URL</key>
	<string>https://uzmobile2-f04e7-default-rtdb.firebaseio.com</string>
</dict>
</plist>